{% extends "VivaitUserBundle::layout.html.twig" %}
{% block sectiontitle %}<i class="fa fa-lock page-header-icon"></i> Security{% endblock %}
{% block section %}
    <div id="two-factor" class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">Two-factor Authentication</span>
        </div>
        <div class="panel-body">
            Status:
            {% if two_factor.code %}
                <span class="label label-success">Enabled <i class="fa fa-check-circle"></i></span>
            {% else %}
                <span class="label label-danger">Disabled <i class="fa fa-exclamation-triangle"></i></span>
            {% endif %}

            <hr>

            <a href="{{ path('vivait_user_security_two_factor') }}" class="btn btn-default btn-flat">Settings</a>
        </div>
    </div>
{% endblock section %}
