{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="post">
    {{ form_widget(form) }}

    <div class="form-group">
        <input class="btn btn-primary btn-block btn-lg btn-flat" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
</form>