{% extends "VivaitUserBundle::layout.anon.html.twig" %}

{% block sectiontitle %}Two-factor Authentication{% endblock %}

{% block section %}

    {% if app.session.flashbag.has("two_factor") %}
        <div id="errors" class="alert alert-dark" data-animate="true" style="">
        {% for flashMessage in app.session.flashbag.get("two_factor") %}
            <p class="error">{{ flashMessage|trans }}</p>
        {% endfor %}
        </div>
    {% endif %}

    <form action="" method="post">

        <div class="form-group">
            <input class="form-control input-lg" type="text" id="auth_code" name="_auth_code" required="required" placeholder=""/>
        </div>

        <div class="form-group">
            <input class="btn btn-primary btn-block btn-lg btn-flat" type="submit" id="_submit" value="{{ "scheb_two_factor.login"|trans }}" />
            <a href="{{ path("_security_logout") }}" class="btn btn-default btn-block btn-lg btn-flat">Cancel</a>
        </div>

        {% if useTrustedOption %}
        <div class="form-group">
            <div class="checkbox">
                <label class="checkbox-inline">
                    <input id="_trusted" type="checkbox" name="_trusted" />
                    <span class="lbl">{{ "scheb_two_factor.trusted"|trans }}</span>
                </label>
            </div>
        </div>
        {% endif %}
    </form>
{% endblock %}
