{% extends "VivaitUserBundle::layout.anon.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block section %}
    <div class="alert alert-info alert-dark">{{ 'resetting.check_email'|trans({'%email%': email}) }}</div>
{% endblock %}
