{% extends('::base.html.twig') %}

{% block navbar %}
    <div class="signin-header">
        <strong>Apollo</strong>Member management
    </div>

{% endblock %}

{% block body_tag %}
<body class="theme-default page-signin-alt">
{% endblock %}

{% block body_start %}
{% endblock %}

{% block container_div_start %}
    {% endblock container_div_start %}



    {% block content_row %}

        {% block error %}

        {% endblock %}

        <h1 class="form-header">
            {% block sectiontitle %}{% endblock %}
        </h1>

        <div class="panel">
            {% block section %}{% endblock %}
        </div>
    {% endblock content_row %}

    {% block content_div_start %}
    {% endblock %}

    {% block content_div_end %}
{% endblock content_div_end %}


{% block body_end %}
{% endblock %}