{% extends "VivaitUserBundle::layout.anon.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block section %}
<div class="alert alert-dark">{{ 'resetting.password_already_requested'|trans }}</div>
{% endblock section %}
